.trends{
    width: 30%;
}

#search{
    display: flex ;
    height: 20px;
    background: transparent;
    border-radius: 60px;
    background: rgb(142, 129, 129);
}

.Settings{
    display: flex;
    justify-content: space-between;
   
}
.Tweets{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.More{
  background-color: rgb(71, 68, 68); 
  border-radius: 20px;
  margin: 10px;
}

.Verified{
    display: flex;
    
}

.parent{
    background-color: rgb(71, 68, 68); 
    border-radius: 10px;
    margin: 10px;
}

.button{
    color: bisque;
    
}